
img {
  float: right;
  border: 1px dotted black;
  margin: 0px 0px 15px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:white;
}
 

li {
  float: right;
}

li a {
  display: block;
  color: gray ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body{
background: linear-gradient(transparent 40%,lightgray 80%) no-repeat;
}
p.a {
  font: 20px Algerian, sans-serif;
}

p.b {
  font: italic bold 12px/30px Georgia, serif;

}
